---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Upstream Lens">
  <h1>Upstream Lens</h1>
  <p>
    CNCFアップストリームを起点に、<br />
    プラットフォームエンジニアリングのトレンドと構造を読み解く。
  </p>
</BaseLayout>

